ZOHO_USER=xxxxxxx@smashandfun.pl
ZOHO_PASS=xxxxxxxxxxxxxxx
ZOHO_HOST=xxxxxx.xxxxxx.xxx
ZOHO_PORT=xxx

EMAIL_USER=xxxxxxx@gmail.com
EMAIL_PASS=xxxxx xxxxx xxxxx
EMAIL_RECEIVER=xxxxxxxx@smashandfun.pl

NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxx.xxxxxxxxxx.xxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxx.xxxx.xxxxxx

NEXT_PUBLIC_BASE_URL=http://localhost:3000

# PayU integration
PAYU_CLIENT_ID=xxxxxx
PAYU_CLIENT_SECRET=xxxxxxxxxxxxxxxx
PAYU_SANDBOX_CLIENT_ID=xxxxxx
PAYU_SANDBOX_CLIENT_SECRET=2ee8xxxxxxxxxxxxxxx
PAYU_POS_ID=xxxxxx
PAYU_SANDBOX_POS_ID=xxxxxx
PAYU_SECOND_KEY=xxxxxxxxxxxxxxxxxxxxxx
PAYU_ENV=
PAYU_NOTIFY_URL=https://smashandfun.pl/api/payu/notify
PAYU_CONTINUE_URL=https://smashandfun.pl/booking/thank-you

# ADS CONFIG
GOOGLE_ADS_CLIENT_ID=xxxxxxxxxxxxx-suxxxxxxxxx0ui.apps.googleusercontent.com
GOOGLE_ADS_CLIENT_SECRET=GOCSPX-nxxxxxxxxxxxxx
GOOGLE_ADS_DEVELOPER_TOKEN=<получить в Центре API>
GOOGLE_ADS_REFRESH_TOKEN=<получить через OAuth flow>
GOOGLE_ADS_CUSTOMER_ID=


SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_PORT=587
SMTP_HOST=
EMAIL_FROM=
EMAIL_TO=
EMAIL_CC=

EMAIL_TRACKING_SECRET=
EMAIL_CRON_SECRET=
NEXT_PUBLIC_APP_URL=https://smashandfun.pl


RESEND_API_KEY=
EMAIL_FROM_CAMPAIGNS=Smash&Fun <noreply@smashandfun.pl>
EMAIL_DAILY_LIMIT=100